div.global-settings {
    /*width: 16.5%;*/
    height: fit-content;
    margin-left: 15px;
}

div.global-settings-div1 {
    width: fit-content;
    height: fit-content;
    display: flex;
    margin: 0 auto;
}

div.octave-selector {
    width: 85%;
    margin-top: 42px;
    height: fit-content;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
    background-color: #D6D6D6;
    padding: 7%;
    display: flex;
    opacity: 30%;
}

div.octave-selector.active {
    opacity: 100%;
}

div.octave-selector-indicator {
    text-align: center;
    font-size: xx-large;
    color: #235789;
    margin: auto;
}

div.loop-button,
div.legato-button,
div.settings-button,
div.global-settings-button,
div.printer-button {
    background-image: url(../../resources/loop-inactive.png);
    background-repeat: no-repeat;
    background-size: 35px 35px;
    background-position: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: 2px solid #D6D6D6;
    border-radius: 5px;
    padding: 10px;
}

div.up,
div.down {
    width: 30px;
    height: 30px;
    border: 2px solid #E6E6EA;
    background-color: #E6E6EA;
    border-radius: 5px;
    padding: 10px;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    background-position: center;
}

div.up.hid,
div.down.hid {
    visibility: hidden;
}

div.up.active,
div.down.active {
    cursor: pointer;
}

div.up.active:hover,
div.down.active:hover {
    border-color: #235789;
}

div.up.active:active,
div.down.active:active {
    background-color: #235789;
}

div.up {
    background-image: url(../../resources/arrow-up-blue.png);
    margin-bottom: 20px;
}

div.down {
    background-image: url(../../resources/arrow-down-blue.png);
}

div.up.active:active {
    background-image: url(../../resources/arrow-up-white.png);
}

div.down.active:active {
    background-image: url(../../resources/arrow-down-white.png);
}

div.loop-button {
    margin-right: 25px;
}


div.loop-button.checked,
div.legato-button.checked {
    background-image: url(../../resources/loop-active.png);
    background-repeat: no-repeat;
    background-color: #FFB100;
}

div.loop-button:hover,
div.legato-button:hover,
div.settings-button:hover,
div.global-settings-button:hover,
div.printer-button:hover {
    border-color: #FFB100;
}

div.legato-button {
    background-image: url(../../resources/legato-inactive.png);
}

div.legato-button.checked {
    background-image: url(../../resources/legato-active.png);
}

div.settings-button {
    background-image: url(../../resources/knob-orange.png);
}

div.settings-button.inactive {
    background-image: url(../../resources/knob-white.png);
    background-color: #FFB100;
}

div.settings-button {
    margin-right: 5px;
    margin-left: 5px;
}

div.global-settings-button {
    background-image: url(../../resources/gear_orange.png);
}

div.global-settings-button.checked {
    background-image: url(../../resources/gear_white.png);
    background-color: #FFB100;
}

div.printer-button {
    background-image: url(../../resources/printer2.png);
}