#disp-chord-container {
    display: block;
}

td.chord-score {
    width: 30%;
    padding: 0px;
    border: 2px solid #235789;
    border-radius: 5px;
    animation: pulse-score 400ms ease-in-out infinite alternate;
}

td.chord-score:first-child,
td.chord-score:last-child {
    animation: none;
    opacity: 67%;
}

@keyframes pulse-score {
    from {
        transform: translateX(0.0rem) scale(1);
    }

    to {
        transform: translateX(0.0rem) scale(1.02);
    }
}

table.chord-score {
    width: 100%;
    border-spacing: 0px;
    border-collapse: collapse;
}

td.chord-score-name {
    height: 100%;
    background-color: #235789;
    color: white;
    font-family: Arial Black, Helvetica, sans-serif;
}

td.chord-score-score {
    height: 100%;
    background-color: #E6E6EA;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

td.played {
    background-color: #235789;
}

div.chords-visualizer-container {
    max-width: 950px;
    display: flex;
    margin-top: 10px;
    margin-left: 10px;
}

div.chords-visualizer {
    /*max-width: 749px;*/
    width: 79%;
    padding: 0px;
    height: fit-content;
    min-height: 232px;
    background-color: #D6D6D6;
    border: 1px solid #D6D6D6;
    border-radius: 5px;
}

table.chords-visualizer {
    width: 100%;
    border-spacing: 10px;
}

.invisible {
    visibility: hidden;
}

.loading-bar {
    position: relative;
    left: 35%;
    width: 30%;
    height: 15px;
    border-radius: 5px;
    background-color: #E6E6EA;
}

.loading-bar-progress {
    height: 100%;
    border-radius: 5px;
    background-color: #FFB100;
}